<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<package name="com.cyd.vo"></package>
	</typeAliases>
	
	<mappers>
        <!-- 注册user.mapper.xml文件 -->
        <mapper resource="com/cyd/vo/user.mapper.xml"/>
    </mappers>
</configuration>